@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 3rem 0;
    background-color: #161616;
    color: #ffffff;
}

body * {
    box-sizing: border-box;
}

/* GLOBAL STYLES */

h1,
h2,
h3,
h4 {
    font-family: 'PT Sans', sans-serif;
}

h2 {
    margin: 1.5rem 0 3rem 0;
    font-size: 2.5rem;
}

h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 0.8rem 0 1rem 0;
}

h4 {
    font-size: 1.5rem;
    margin: 0.8rem 0 0.5rem 0;
}

p {
    font-family: 'Helvetica Neue', Helvetica, serif;
    margin: 1rem 0 0.8rem 0;
    font-size: 0.8rem;
    font-weight: 300;
}

/* REUSABLE STYLES */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.page-padding {
    margin: 0 auto 0 auto;
    max-width: 60rem;
    padding: 0 5rem;
}

.semibold {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.normal {
    font-weight: 300;
}

.text-black {
    color: #000000;
}

/* --------- */

.socials {
    display: flex;
    justify-content: flex-end;
}

.socials i {
    font-size: 1.3rem;
    margin-left: 0.8rem;
}

.logo {
    display: block;
    margin: 10rem auto 5rem auto;
    width: 15rem;
}

.hero {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.about {
    padding: 6rem 0;
}

.about-paragraph {
    margin-right: auto;
    margin-left: auto;
    max-width: 25rem;
}

.paragraph-topic {
    font-family: 'PT Sans', sans-serif;
    color: #ff80ba;
    text-transform: uppercase;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15rem;
    background-image: url('./assets/can.jpeg');
    background-size: cover;
    background-position: center;
    padding: 1.5rem;
}

.details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details-container p {
    margin: 0;
}

.product-details {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
}

.contact {
    margin: 9rem 0 7rem 0;
    background: linear-gradient(#2b2b2b 85%, #161616 0%);
}

.contact-inner {
    padding: 1.5rem 0 1.5rem 0;
    display: flex;
}

.contact-inner div {
    flex: 1;
}

.map {
    width: 100%;
    height: 13rem;
    object-fit: cover;
    object-position: center;
}

footer {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    width: 6rem;
}

@media screen and (max-width: 640px) {
    .page-padding {
        padding: 0 2rem;
    }

    .contact-inner {
        flex-direction: column;
    }
}
